<!DOCTYPE html>
<html>
<head>
  <title>Hi again, this is a To-Do List</title>
</head>
<body>
  <h1>To-Do List</h1>
  <form method="post">
    <input type="text" name="todo" placeholder="Add a new todo">
    <button type="submit">Add</button>
  </form>
  <ul>
    {% for todo, completed in todos.items() %}
      <li {% if completed %}style="text-decoration: line-through;"{% endif %}>
        {{ todo }}
        <a href="{{ url_for('complete', todo=todo) }}">Complete</a>
        <a href="{{ url_for('delete', todo=todo) }}">Delete</a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
